@using MudBlazor.Utilities
@using Rise.Shared.TimeSlots
@inherits Heron.MudCalendar.MonthView

@Render

@code {
    /// <summary>
    /// Renders the container for an individual cell.
    /// </summary>
    protected override RenderFragment RenderCellContainer(CalendarCell cell, int index) =>
    @<div class="@CellClassname" style="@DayStyle(cell, index)" @onclick="() => OnCellLinkClicked(cell)"
        data-testid="calendar-cel" data-celtype="@GetCellTypes(cell)">
        <MudDropZone T="CalendarItem" Identifier="@cell.Date.Date.ToShortDateString()" Class="mud-cal-month-dropzone"
            Style="@CellStyle">
            @RenderCell(cell)
        </MudDropZone>
    </div>;
}